

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.carousel-inner img {  
      width: 100%;  
      height:288px;  
  	}  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.carousel-inner img {  
      width: 100%;  
      height:576px;  
  	}  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.carousel-inner img {  
      width: 100%;  
      height:768px;  
  	} 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.carousel-inner img {  
      width: 100%;  
      height:992px;  
  	}  
}

